@tailwind base;
@tailwind components;
@tailwind utilities;

.mainWrapper {
  position: relative;
  background: linear-gradient(to bottom, transparent, #1e1e1e);
  margin-top: 30vh;
  min-height: 80vh;
  padding: 80px;
  padding-top: 0px;
  overflow: auto;
}
/* from code pen
  #app-background {
    height: 100%;
    left: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    
    #app-background-image {
      background-image: url(https://i.imgur.com/DRTx0qg.jpeg);
      height: 100%;
      transition: filter 250ms, transform 250ms;
      width: 100%;
    }
  }*/
.bgImageWrapper {
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.bgImage {
  background-image: url("../public/assets/images/background.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  /*height: 100%;*/
  transition: filter 250ms, transform 250ms;
  width: 100%;
}

.flex-between {
  @apply flex justify-between items-center;
}
